* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 20vr 70vr 20vr;
}
header {
  height: 50px;
  background: aqua;
  grid-column-start: 1;
  grid-column-end: 4;
}
header > h1 {
  display: inline-block;
  color: rgb(255, 0, 0);
}
.asideLeft {
  height: 92vh;
  background: rgb(38, 0, 255);
  grid-column-start: 1;
  grid-column-end: 2;
}
.asideRight {
  height: 92vh;
  background: rgb(238, 255, 0);
  grid-column-start: 3;
  grid-column-end: 4;
}
main {
  height: 92vh;
  background: rgb(0, 4, 255);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
footer {
  height: 50px;
  background: coral;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
